body {
  background: #dedede;
  padding-top: 96px;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.App {
  text-align: center;
  padding: 20px;
}

table {
  margin-top: 30px;
}

.tabla {
  width: 300px;
  font-size: 13px !important;
}

.clan {
  background-color: blue;
  color: white;
} 